        /* Body FUN  */
        body{
            background-color: #999;
        }
                /* End BODY FUN  */
        
         /* start Log from  */
        .from-log{
            width: 350px;
            margin: 200px auto;
        }
        .from-log .Admin {
            text-align: center;
            color: #121212;
            margin-bottom: 30px;
            font-size: 29px;
            cursor: pointer;
        }
        .from-log input {
            margin-bottom: 20px;
        }
        .from-log .form-control {
            background-color: #e5e5e5;
        }
        .from-log .btn {
            width: 150px;
            margin-left: 190px;
        }
        .from-log .btn:hover {
            background-color: #e5e5e5;
            color: #000;
        }
            /* End Log from  */
